<div class="post-display">
    <div class="post-header">
        <h3>{{post.title}}</h3>
        <h4>Posted by: {{post.user.name}}</h4>
        <h4>at {{post.date_created}}</h4>
    </div>
    <div class="post-body">
        <p>{{post.body}}</p>
    </div>
</div>
<div class="post-comments-container">
    {{#each comments as |comment|}}
    <div class="comment-username">
        <h3>{{user.name}} says:</h3>
    </div>
    <div class="comment-body">
        <p>{{comment.body}}</p>
    </div>
    {{/each}}
</div>
<div class="create-comment-container">
    <form class="create-comment"></form>
</div>